*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.pull-right{
    float: right !important;
}

.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.btn{
    cursor: pointer;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    display: block;
    clear: both;
    content: "";
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col1{
    width: 100%;
}
.col2{
    width: 50%;
}
.col3{
    width: 33.333%;
}
/*  */
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg, white,gray,black);
}

/*
    from outside to inside
    from top to bottom
    tổng quan đến chi tiết
*/

/*
    1.position
    2.size
    3.color
    4.font
*/
#app{

}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav, .subnav, li:hover{
    list-style-type: none;
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}

#nav > li > a{
    color:#fff;
}

#nav li a{  
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3) ;
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
    
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
    
}

#header .search-btn:hover{
    background-color: #f44336;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    font-size: 20px;
    color: #fff;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('https://github.com/TungLe1602/Intern/assets/img/slider/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content1{
    position: absolute;
    bottom: 5%;
    color: aliceblue;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}
#slider .text-content1 .text-description1{
    margin-top: 5%;
    font-size: 15px;
}

#content{
}
#content .content-section{
    width: 80%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
}
#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    font-size: 15px;
    text-align: justify;
    margin-top: 25px;
    line-height: 1.4;
}
#content .section-heading,
#content .section-sub-heading{
    text-align: center;
}
.member-list{
    padding: 46px;
}
#content .member{
    float: left;
    width: 33.33%;
}
#content .name{
    font-size: 15px;
}
#content .member-img{
    border-radius: 4px;
    width: 154px;
    margin-top: 15px;
}
/* tour */
.tour-section{
    background-color: black;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    list-style-type: none;
    padding: 12px 20px;
    border: 1px solid #ddd ;
    font-size: 15px;
    color: #757575;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 4px 4px;
    margin: 0 16px;
}
.tickets-list .quantities{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.places-list{
    margin: 16px -8px 0;
    padding-bottom: 45px;
}
.place-item{
    float: left;
    width: 33.33%;
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-content{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;    
    padding-bottom: 10px;
}
.place-time{
    color: #757575;
    padding-bottom: 10px;
}
.place-desc{
    padding-bottom: 10px;
}
.buy-tickets{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
}
.buy-tickets:hover{
    opacity: 0.6;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-container{
    width: 90%;
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease .5s;
}
.modal .ti-bag{
    padding-right: 20px;
    margin-top: -4px;
}
.modal .modal-header{
    background-color: aqua;
    height: 100px;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.modal-close:hover{
    opacity: 0.5;
}
.modal .modal-body{
    padding: 16px;
    font-size: 15px;
}
.modal .modal-input{
    width: 100%;
    border: 1px solid #757575;
    padding: 10px;
    margin-bottom: 24px;
}
.modal .modal-label{
    display: block;
    margin-bottom: 10px;
}
.modal #buy-tickets{
    background-color: aqua;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    cursor: pointer;
}
.modal #buy-tickets:hover{
    opacity: 0.6;
}
.modal .modal-footer{
    padding: 16px;
    text-align: right;
    color: blue;
}
.modal.open{
    display: flex;
}
/* ******************** */
.contact-content{
    padding: 48px;
}
.contact-infor{
    font: 18px;
    line-height: 1.6;
}
.contact-infor i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 4px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit-btn{
    background-color: #000;
    border: none;
    color: #ccc;
    padding: 7px 20px;
    float: right;
}
/* ******************** */
.map img{
    width: 100% ;
    padding: 20px 0;
}
#footer .social-link{
    align-items: center;
    text-align: center;
    color: #ccc;
    padding: 30px;
}
#footer p  {
    margin-top: 20px;
}
#footer .link-footer{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.4;
}
#footer .link-footer:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0.4;
}

@keyframes modalFadeIn{
    from{
        opacity: 0.5;
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}

.loading>p{
    text-align: center;
    z-index: 1;
}
.loader{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: calc(50% - 10.5px);
    border: 1px solid gray;
    border-top-color: blue;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
